/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #e2b64f;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #fff;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #333;
  border: 1px solid #333;
}

h2 {
  text-align:center;
}
/*
 * Base structure
 */

html,
body {
  height: 100%;

}
body {
  color: #fff;
  background-color: #333;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */

